build -c opt
build --cxxopt=-std=c++17
build --cxxopt=-mmacosx-version-min=10.13
build --host_cxxopt=-std=c++17
build --host_cxxopt=-mmacosx-version-min=10.13
build --experimental_repo_remote_exec
build --python_path="/opt/homebrew/bin/python3"
